/* ==UserStyle==
@name           Mangadex Customizable Theme
@namespace      https://github.com/jaxellis/Customizable-Themes
@version        1.0.2
@description    Customizable theme for Mangadex
@author         Jaxellis
@homepageURL    https://github.com/jaxellis/Customizable-Themes/tree/main/themes/mangadex.org
@updateURL      https://github.com/jaxellis/Customizable-Themes/raw/main/themes/mangadex.org/mangadex.user.css

@preprocessor   stylus

@var color  theme-background-color	"Background color"       	rgb(0, 0, 0)
@var color  theme-foreground-color	"Foreground color"       	rgb(12, 12, 12)
@var color  theme-main-color        "Accent color"      		rgb(0, 255, 255)
@var color  theme-main-used-color   "Accent color 'Used'" 		rgba(0, 200, 255, 0.55)
@var color  theme-text-color        "Text color"            	rgb(197, 197, 197)

==/UserStyle== */
@-moz-document domain("mangadex.org") {
	:root {
		--md-primary: theme-main-color !important;
		--md-primary-darken: theme-main-used-color !important;
		--md-primary-darken2: theme-main-used-color !important;
	}

	.system {
		color: theme-text-color !important;
		--md-background: theme-background-color !important;
		--md-accent: theme-foreground-color !important;
		--md-icon-white: theme-main-color !important;
		--md-icon-black: theme-main-color !important;
		--md-accent-lighten: theme-main-used-color !important;
		--md-accent-lighten2: theme-main-color !important;
	}

	.md-inputwrap:focus-within .md-border[data-v-3824af96] {
		border-color: theme-main-color !important;
	}

	/* Yes the \\ is valid */
	.md-btn.primary,
	.active svg,
	.bg-accent-lighten2,
	.text-white,
	.menu__item--active-highlight,
	.dark .dark\\:text-white,
	.select__tab.active,
	.page.loaded > span,
	a.tag[data-v-6916a5e2]:hover,
	.manga .md-btn.accent[data-v-1de6ef87],
	.chapter[data-v-56f6c307]:active,
	.readmore-link:not(.expand),
	.group-tag:hover,
	.comment-container:hover,
	.comment-container:hover .text-icon-contrast,
	.announcement.primary {
		color: theme-background-color !important;
	}

	.text-primary {
		color: unset !important;
	}
}
