/* This css is to be loaded on all sites. http/s*. Each CSS in this entry should be labeled. */

/*
--------------------------------------------------------
Custom Variables: Change these to change entire theme
--------------------------------------------------------
Defaults:
	--theme-background-color: rgb(0, 0, 0);
	--theme-foreground-color: rgb(10, 10, 10);
	--theme-main-color: rgb(0, 255, 255);
	--theme-text-color: rgb(197, 197, 197);
*/
:root {
	--theme-background-color: rgb(0, 0, 0);
	--theme-foreground-color: rgb(10, 10, 10);
	--theme-main-color: rgb(0, 255, 255);
	--theme-link-color: rgb(0, 255, 255);
	--theme-link-hover: rgba(0, 255, 255, 0.5);
	--theme-text-color: rgb(197, 197, 197);
}

/* Cloudflare Captcha */
/* Main Background*/
#cf-wrapper,
#cf-wrapper #cf-error-details {
	background: var(--theme-background-color);
}
/* Fix CF div not attaching to bottom of page*/
@media screen and (max-height: 1081px) {
	#cf-wrapper {
		height: 1080px;
	}
}

@media screen and (max-height: 1441px) {
	#cf-wrapper {
		height: 1440px;
	}
}
/* Remove White Error Screenshot*/
.cf-screenshot-container {
	display: none !important;
}
/* Background of middle section containing hCaptcha */
#cf-wrapper #cf-error-details .cf-highlight {
	background: var(--theme-foreground-color);
}
/* Background of hCaptcha */
#cf-wrapper #cf-error-details .cf-highlight .cf-highlight-inverse {
	background-color: var(--theme-foreground-color);
}
/* Text Colors */
#cf-wrapper h1,
#cf-wrapper h2,
#cf-wrapper h3,
#cf-wrapper h4,
#cf-wrapper h5,
#cf-wrapper h6,
#cf-wrapper .cf-subheadline,
#cf-wrapper p {
	color: var(--theme-text-color);
}
/* Link Color */
#cf-wrapper a {
	color: var(--theme-link-color);
}
/* Link Hover Color */
#cf-wrapper a:hover {
	color: var(--theme-link-hover);
}
