/* ==UserStyle==
@name           Anilist Customizable theme
@namespace      https://github.com/jaxellis/Customizable-Themes
@version        1.0.0
@description    Customizable theme for Anilist
@author         Jaxellis
@homepageURL    https://github.com/jaxellis/Customizable-Themes/tree/main/themes/anilist.co
@updateURL      https://github.com/jaxellis/Customizable-Themes/raw/main/themes/anilist.co/anilist.user.css
@preprocessor   stylus
@var text  theme-background-color	"Background color [RBG]"       	0, 0, 0
@var text  theme-foreground-color	"Foreground color [RBG]"       	12, 12, 12
@var text  theme-text-color       	"Text color [RBG]"            	197, 197, 197
@var text  theme-light-text-color   "Text color Light [RBG]"        199, 199, 199
@var text  theme-lighter-text-color "Text color Lighter [RBG]"      202, 202, 202
@var text  theme-main-color       	"Accent color [RBG]"            0, 255, 255
@var text  theme-main-used-color    "Accent 'Used' color [RBG]"     0, 200, 255, 0.55
@var text  theme-background-color	"Background color [RBG]"       	0, 0, 0
@var text  theme-button-color		"Button color [RBG]"       		0, 255, 255
@var text  theme-button-text-color	"Button text color [RBG]"       0, 0, 0

==/UserStyle==*/

@-moz-document domain("anilist.co") {
	/* Anilist sets vars based on current theme */
	:root,
	.site-theme-dark,
	.site-theme-contrast {
		/* Main Backgrounds */
		--color-background: theme-background-color;
		/* Main Foregrounds */
		--color-foreground: theme-foreground-color;
		/* Milestones */
		--color-foreground-grey: theme-foreground-color;
		--color-foreground-grey-dark: 234, 236, 237;
		/* Active tab on Following | Global social */
		--color-foreground-blue: theme-background-color;
		--color-foreground-blue-dark: 241, 243, 247;
		--color-background-blue-dark: 31, 35, 45;
		--color-overlay: 31, 38, 49;
		--color-shadow: 49, 54, 68;
		--color-shadow-dark: 6, 13, 34;
		--color-shadow-blue: 103, 132, 187;
		/* Main Text */
		--color-text: theme-text-color;
		/* Main Light Text Inactive Tab Text, Stats Text */
		--color-text-light: theme-light-text-color;
		/* Main Lighter Text Timestamp,Sidebar - Inactive text */
		--color-text-lighter: theme-lighter-text-color;
		--color-text-bright: theme-text-color;
		/* Main Blue Color Links, Accent Color Blue */
		--color-blue: theme-main-color;
		/* Main Blue Color Dimmed */
		--color-blue-dim: theme-main-color;
		/* Active Tab Text */
		--color-white: 255, 255, 255;
		--color-black: 0, 0, 0;
		/* Red Color
        Liked posts
        Unwatched Airing Anime
        Remove Friend Icon
         */
		--color-red: theme-main-used-color;
		/* Notification Color */
		--color-peach: theme-main-color;
		/* Dropdown menu */
		--color-background-100: theme-foreground-color;
		/* Bottom part of Dropdown Menu */
		--color-background-200: theme-foreground-color;
		--color-background-600: theme-text-color;
		--color-background-700: theme-text-color;
		--color-background-800: theme-text-color;
		--color-gray-100: theme-foreground-color;
		--color-gray-200: theme-foreground-color;
		--color-gray-600: theme-text-color;
		--color-gray-700: theme-text-color;
		--color-gray-800: theme-text-color;
	}

	/* Mark All As Read Button */
	.reset-btn[data-v-119352f9] {
		color: rgb(theme-background-color);
	}

	/* Nav Bar Header */
	.site-theme-dark .nav-unscoped {
		background-color: rgb(theme-foreground-color);
		color: rgb(theme-text-color);
	}

	/* Search Icon Color */
	.search[data-v-62eacfff] svg {
		color: rgb(theme-text-color);
	}

	/* Active List Filter [Following, Global] */
	.feed-type-toggle > div.active[data-v-8209bd04] {
		background-color: lighten(rgb(theme-foreground-color), 5);
	}

	/* Notification Bubble Text Color */
	.user .notification-dot[data-v-62eacfff] {
		color: rgb(theme-foreground-color);
	}

	/* Entry page: List button */
	.list[data-v-5776f768],
	.list .dropdown[data-v-5776f768] {
		color: rgb(theme-button-text-color);
	}

	.el-dropdown-menu {
		background-color: rgb(theme-foreground-color);
	}
	.el-dropdown-menu__item--divided {
		border-top-color: rgb(theme-background-color);
	}
	.el-dropdown-menu__item--divided:before {
		background-color: rgb(theme-foreground-color);
	}
}
